.PageGenerationMessage { display: none; }

/* validation error message */
.error {
    background-color:#E8FF6D;
    padding:4px;
    color:#000;
    -webkit-box-shadow: #000 0 0 12px;
    -moz-box-shadow: #000 0 0 12px;
}

/* ..with a pure CSS arrow */
.error em {
    border:10px solid;
    border-color:#E8FF6D transparent transparent;
    bottom:-17px;
    display:block;
    height:0;
    left:10px;
    position:absolute;
    width:0;
}

.error p {
    background-color:#E8FF6D;
    color:#333;
}

/* field with validation error */
.invalid {
    background-color:rgba(221, 233, 255, 0.898) !important;
}

fieldset, img, hr {
	outline: none;
	border: none;
}

/* Typography ==================================*/
html {
    /* This is to prevent iPhone safari from auto zooming text */
    -webkit-text-size-adjust: none;
}
body {
        font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;	
}

a:link,
a:hover,
a:visited {
	color: #333;
}

.sectitle {
	background-color: #0d5392;
	color: #fff;
	height: 19px;
	font-size: 15px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 1px;
        width: 100%;
}

.small {
	font-size: 11px;
	padding-top: 10px;	
}

/* holders =====================================*/

html {
    padding: 0;
    margin: 0;
}

body {
        width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#bookingFormHolder {
	text-align: left;
}

.iBookingSet {
	margin: 0px;
        padding: 0px;
        width: 100%;
}

.iBookingSetLeft {
        width: 100%;
	padding-top: 15px;
}

.iBookingItem {
	padding-bottom: 15px;
}

.tLeft {
	float: left;
	/*width: 182px;*/
        width: 220px;
	text-align: right;
	padding-right: 10px;
}

.left {
	float: left;
	width: auto;
}

.right {
	float: right;
    margin-top: 2px;
    width: 79%;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

#selectOutput {
	display: none;
	margin-left: 191px;
    padding-top: 9px;
}

/*form elements ================================*/

.ui-autocomplete { 
    max-height: 140px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    background-color: #fff; color: #0D5392; 
}
    
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

input[type="text"],
input[type="password"], 
input[type="email"] {
	border: 1px solid gray;
	width: 314px;
	height: 23px;
	padding: 0px 3px;
        color:#0D5392;
        text-transform: uppercase;
}

textarea {
	width: 314px;
        color:#0D5392;
        resize: none;
}

label {
	display: inline-block;
	margin-bottom: 2px;
}

input[type="text"].short {
	width: 247px;
}

select {
  font-size: 13px;
  color:#0D5392;
  padding:2px;
  border:1px solid gray;
}

select option{
	margin-bottom:2px;
}

.form-button {
    text-align: center;
    text-decoration: none;
    background-color: #d9d9d9;
    border:1px solid #bfbfbf;
    font-family: Calibri, sans-serif;
    font-size: 10pt;
    color: #000;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 40px 5px 40px;
}

.form-button:hover {
    cursor: pointer;
    background-color: #bfbfbf;
}

/* Job Booking Response ***************************/

.confirm-item {
    margin: 10px 50px 0 50px;
    padding: 0;
}

.section-break {
    border-bottom: 1px solid #c7c7c7;
    margin: 0 50px 0 50px;
    padding: 0;
}

.label {
    padding-left: 10px;
    padding-right: 2px; 
    font-weight:bold;
    font-size: 12px;
}

.data {
    font-weight:normal;
    font-size: 12px;
}

.info {
    padding-left: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 10px;
}

.confirm-address {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight:bold;
    font-size: 10pt;
    line-height: 2;
    padding: 10px;
    background-color: #ddd;
    font-size: 12px;
}

/* Job Tracking Response ************************************/

.pager-buttons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#prev-button, #next-button {
    
}

.pager-submit {
    text-decoration: none;
    cursor: pointer;
}

.pager {
    margin: 5px 10px 5px 10px;
    display: inline-block;
}

.pager-button {
    color: #808080;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.pager-button-active {
    color: #0d5392;
    cursor: default;
}
